*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #e0e5ec;   /*Alternate Colour Code "#091921"  */
}
.clock
{
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(clock.svg);
  background-size: cover;
  border: 4px solid #e0e5ec;
  border-radius: 50%;
  box-shadow: 0 -15px 35px #bec3c9,
              inset 0px -15px 25px #bebebe,
              0px 15px 35px #ffffff,
              inset 0px 15px 25px #ffffff;
  /*box-shadow: 20px 20px 60px #bec3c9,
              inset 20px 20px 20px #bebebe,
              -20px -20px 60px #ffffff,
              inset -10px -10px 20px #ffffff;
  box-shadow:  20px 20px 60px #bec3c9,
             -20px -20px 60px #ffffff;
  box-shadow: 0 -15px 15px rgba(255,255,255,0.5),
              insect 0 -15px 15px rgba(255,255,255,0.5), 
              0 15px 15px rgba(0,0,0,0.3),
              insect 0 15px 15px rgba(0,0,0,0.3);*/
}
.clock::before
{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: #008eff;
  border-radius: 50%;
  z-index: 10000;
}
.clock .hour,
.clock .min,
.clock .sec
{
  position: absolute;
}
.clock .hour, .hr
{
  width: 160px;
  height: 160px;
}
.clock .min, .mn
{
  width: 190px;
  height: 190px;
}
.clock .sec, .sc
{
  width: 230px;
  height: 230px;
}
.hr, .mn, .sc
{
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  position: absolute;
  border-radius: 50%;
}
.hr::before
{
  content: '';
  position: absolute;
  width: 8px;
  height: 80px;
  background: #ff105e;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}
.mn::before
{
  content: '';
  position: absolute;
  width: 4px;
  height: 90px;
  background: #091921;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}
.sc::before
{
  content: '';
  position: absolute;
  width: 2px;
  height: 150px;
  background: #008eff;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}
.text
{
  font-family: poppins;
  position: absolute;
  top: 30px;
  right: 20px;
}
h1
{
  font-size: 5vw;
  font-weight: 600;
}
.social-links {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	justify-content: center;
  padding: 0;
  margin: 5px;
}
a
{
  width: 40px;
	height: 40px;
	margin: 10px 10px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, .15), -6px -6px 10px -1px rgba(255, 255, 255, .95);
	transition: transform 0.4s;
}
i {
	color: grey;
	font-size: 2rem;
	transition: .2s;
}
a:hover .fa-github {
	color: rgb(53, 50, 50);
}
.absolute
{
  position: absolute;
  bottom: 10px;
}
h2
{
  font-family: poppins;
  font-size: 1.3rem;
  font-weight: 300;
  text-align: center;
}
h3
{
  font-family: poppins;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
}
